<a href="https://colab.research.google.com/github/MohdHassanS/MongoDB/blob/main/Telephone_Directory_CRUD_Operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Connecting to Atlas & Creating New Database

In [ ]:
from pymongo import MongoClient
import json
client=MongoClient("mongodb+srv://hassan:<###>@cluster0.ramve98.mongodb.net/test")  #replace <####> with your own password
print(client.list_database_names())

['student_DB', 'telephone_directory', 'admin', 'local']

In [ ]:
db=client['telephone_directory']             # creating New Database

In [ ]:
x=db['details']                              # creating new collection in the database

# Getting Directory inputs

In [ ]:
#@title Details
Name = "vijay" #@param {type:"string"}
Age = 23 #@param {type:"slider", min:15, max:80, step:1}
PhoneNo = 7878656531 #@param {type:"integer", max:80}
place = "tirupur" #@param {type:"string"}

In [ ]:
record={'name':Name,'age' :Age,'phone_no' :PhoneNo,'place' :place}

# CRUD operations (Create, retrieve, update, and delete)

**Inserting record**

In [ ]:
x.insert_one(record)

**Finding record**

In [ ]:
query_1 = x.find()
for i in query_1:
  print(i)

{'_id': ObjectId('6366aceae921dbbd752da6fb'), 'name': 'umar', 'age': 18, 'phone_no': 1234567890, 'place': 'chennai', 'email': 'abc@gmail.com'}
{'_id': ObjectId('63678861bc1093d2caaba96d'), 'name': 'vijay', 'age': 23, 'phone_no': 7878656531, 'place': 'tirupur'}

**Modify record**

In [ ]:
query_2 = {'$set': {'email' : 'abc@gmail.com'}}
x.update_one( {'name' : 'umar'}, query_2 )
list(x.find())

[{'_id': ObjectId('6366aceae921dbbd752da6fb'),
  'name': 'umar',
  'age': 18,
  'phone_no': 1234567890,
  'place': 'chennai',
  'email': 'abc@gmail.com'},
 {'_id': ObjectId('6367492965e75e1b00baa82d'),
  'name': 'vijay',
  'age': 23,
  'phone_no': 7878656531,
  'place': 'tirupur'}]

**Delete record**

In [ ]:
query_3 = {'phone_no': 7878656531}
x.delete_one( query_3 )
list(x.find())

[{'_id': ObjectId('6366aceae921dbbd752da6fb'),
  'name': 'umar',
  'age': 18,
  'phone_no': 1234567890,
  'place': 'chennai',
  'email': 'abc@gmail.com'}]